/* Importing Google Font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* Color variables for light theme */
:root {
    --white-color: #fff;
    --black-color: #000;
    --light-white-color: #f0f0f0;
    --light-gray-color: #e5e5e5;
    --border-color: #ccc;
    --primary-color: #3b82f6;
    --secondary-color: #404040;
    --overlay-dark-color: rgba(0, 0, 0, 0.6);
}

/* Color variables for dark theme */
.dark-mode {
    --white-color: #171717;
    --black-color: #d4d4d4;
    --light-white-color: #333;
    --light-gray-color: #404040;
    --border-color: #808080;
    --secondary-color: #d4d4d4;
}

body {
    background: var(--white-color);
}

.container {
    display: flex;
    overflow: hidden;
    max-height: 100vh;
    flex-direction: column;
}

header,
.sidebar .nav-left,
.category-list {
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--white-color);
}

.navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0.5rem 1rem;
    justify-content: space-between;
}

:where(.navbar, .sidebar) .nav-section {
    gap: 1rem;
}

:where(.navbar, .sidebar) :where(.nav-section, .nav-logo, .search-form) {
    display: flex;
    align-items: center;
}

:where(.navbar, .sidebar) :where(.logo-image, .user-image) {
    width: 32px;
    cursor: pointer;
    border-radius: 50%;
}

:where(.navbar, .sidebar) .nav-section .nav-button {
    border: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background: none;
    border-radius: 50%;
}

:where(.navbar, .sidebar) .nav-section .nav-button:hover {
    background: var(--light-gray-color) !important;
}

:where(.navbar, .sidebar) .nav-button i P {
    font-size: 1.5rem;
    display: flex;
    color: var(--black-color);
    align-items: center;
    justify-content: center;
}

:where(.navbar, .sidebar) .nav-logo {
    display: flex;
    gap: 0.5rem;
    text-decoration: none;
}

:where(.navbar, .sidebar) .nav-logo .logo-text {
    color: var(--black-color);
    font-size: 1.25rem;
}

.navbar .nav-center {
    gap: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar .search-form {
    flex: 1;
    height: 40px;
    max-width: 550px;
}

.navbar .search-form .search-input {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding: 0 1rem;
    outline: none;
    color: var(--black-color);
    background: var(--white-color);
    border-radius: 3.1rem 0 0 3.1rem;
    border: 1px solid var(--border-color);
}

.navbar .search-form .search-input:focus {
    border-color: var(--primary-color);
}

.navbar .search-form .search-button {
    height: 40px;
    width: auto;
    padding: 0 1.25rem;
    border-radius: 0 3.1rem 3.1rem 0;
    border: 1px solid var(--border-color);
    border-left: 0;
}

.navbar .nav-center .mic-button {
    background: var(--light-white-color);
}

.navbar .nav-right .search-button {
    display: none;
}

.main-layout {
    display: flex;
    overflow-y: auto;
    scrollbar-color: #a6a6a6 transparent;
}

.main-layout .sidebar {
    width: 280px;
    overflow: hidden;
    padding: 0 0.7rem 0;
    background: var(--white-color);
}

.main-layout .sidebar .nav-left {
    display: none;
    padding: 0.5rem 0.3rem;
}

body.sidebar-hidden .main-layout .sidebar {
    width: 0;
    padding: 0;
}

.sidebar .links-container {
    padding: 1rem 0 2rem;
    overflow-y: auto;
    height: calc(100vh - 60px);
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.sidebar .links-container:hover {
    scrollbar-color: #a6a6a6 transparent;
}

.sidebar .link-section .link-item {
    display: flex;
    color: var(--black-color);
    white-space: nowrap;
    align-items: center;
    font-size: 0.938rem;
    padding: 0.37rem 0.75rem;
    margin-bottom: 0.25rem;
    border-radius: 0.5rem;
    text-decoration: none;
}

.sidebar .link-section .link-item:hover {
    background: var(--light-gray-color);
}

.sidebar .link-section .link-item i {
    font-size: 1.4rem;
    margin-right: 0.625rem;
}

.sidebar .link-section .section-title {
    color: var(--black-color);
    font-weight: 600;
    font-size: 0.938rem;
    margin: 1rem 0 0.5rem 0.5rem;
}

.sidebar .section-separator {
    height: 1px;
    margin: 0.64rem 0;
    background: var(--light-gray-color);
}

.main-layout .content-wrapper {
    padding: 0 1rem;
    overflow-x: hidden;
    width: 100%;
}

.content-wrapper .category-list {
    display: flex;
    overflow-x: auto;
    gap: 0.75rem;
    padding: 0.75rem 0 0.7rem;
    scrollbar-width: none;
}

.category-list .category-button {
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.94rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    color: var(--black-color);
    padding: 0.4rem 0.75rem;
    background: var(--light-gray-color);
}

.category-list .category-button.active {
    color: var(--white-color);
    background: var(--black-color);
    pointer-events: none;
}

.dark-mode .category-list .category-button.active {
    filter: brightness(120%);
}

.category-list .category-button:not(.active):hover {
    background: var(--border-color);
}

.content-wrapper .video-list {
    display: grid;
    gap: 1rem;
    padding: 1.25rem 0 4rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.video-list .video-card {
    text-decoration: none;
}

.video-list .video-card .thumbnail-container {
    position: relative;
}

.video-list .video-card .thumbnail {
    width: 100%;
    object-fit: contain;
    border-radius: 0.5rem;
    aspect-ratio: 16 / 9;
    background: var(--light-white-color);
}

.video-list .video-card .duration {
    position: absolute;
    right: 0.65rem;
    bottom: 0.8rem;
    color: #fff;
    font-size: 0.875rem;
    padding: 0 0.3rem;
    border-radius: 0.3rem;
    background: var(--overlay-dark-color);
}

.video-list .video-card .video-info {
    display: flex;
    gap: 0.7rem;
    padding: 0.7rem 0.5rem;
}

.video-list .video-card .icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.video-list .video-card .title {
    font-size: 1rem;
    color: var(--black-color);
    font-weight: 600;
    line-height: 1.375;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.video-list .video-card:hover .title {
    color: var(--primary-color);
}

.video-list .video-card p {
    font-size: 0.875rem;
    color: var(--secondary-color);
}

.video-list .video-card .channel-name {
    margin: 0.25rem 0 0.15rem;
}

/* Responsive media code for small devices */
@media (max-width: 768px) {
    .navbar .nav-center {
        display: none;
    }

    .navbar .nav-right .search-button {
        display: block;
    }

    .main-layout .screen-overlay {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 15;
        width: 100%;
        height: 100vh;
        background: var(--overlay-dark-color);
        transition: 0.2s ease;
    }

    body.sidebar-hidden .main-layout .screen-overlay {
        opacity: 0;
        pointer-events: none;
    }

    .main-layout .sidebar {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 20;
        height: 100vh;
        transition: 0.2s ease;
    }

    body.sidebar-hidden .main-layout .sidebar {
        left: -280px;
    }

    .main-layout .sidebar .nav-left {
        display: flex;
    }
}
.container-2 {
    padding: 20px;

    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

h1 {
    color: #00bfa5;
    font-size: 36px;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin: 20px 0 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
}

.details p {
    margin: 5px 0;
}

.details p span {
    font-weight: bold;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #000;
    margin-right: 10px;
    text-decoration: none;
}

.contact-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid #00bfa5;
    border-radius: 5px;
    color: #00bfa5;
    text-decoration: none;
    font-weight: bold;
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#B873FF, transparent);
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background-image: linear-gradient(45deg, #BC3CFF, #317FFF);
    border-radius: 0 0 20px 20px;
    /*
background-image: url('http://localhost/multimedia/png/user-portada-3.png');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
*/
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.seccion-perfil-usuario .redes-sociales {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

.seccion-perfil-usuario .redes-sociales .boton-redes {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
}

.seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
    margin-top: .5rem;
}

.seccion-perfil-usuario .boton-redes.facebook {
    background-color: #5955FF;
}

.seccion-perfil-usuario .boton-redes.twitter {
    background-color: #35E1BF;
}

.seccion-perfil-usuario .boton-redes.instagram {
    background: linear-gradient(45deg, #FF2DFD, #40A7FF);
}

/* adactacion a dispositivos */
@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
}