@tailwind base;
@tailwind components;
@tailwind utilities;
/* Barra de navegacion */
.tamaño{
    width: 450px;
}
a{
    color:#274f14;
}
.navbar {
    padding: 2rem;
    background-color: #8d8d8d;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;

}

/* contenido */

body{
    background-color: #c3c2c2;
}

